body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Verdana,Arial,sans-serif;
}
a img{
	border-style:none;
}
a{
	text-decoration:none;
}
div#header{
	width:94%;
	margin:1% auto 1% auto;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	padding:5px 0.5% 5px 0.5%;
}
div#main-container{
	width:95%;
	margin:10px auto;
}
div#file-browser{
	border:none;
	float:left;
	width:38%;
	height:94.5%;
	margin-right:1.5%;
}
div#file-container-title{
	padding:0.5% 1% 0.5% 1%;
}
div#file-container{
	border:solid 1px #ccc;
	border-top:none;
	padding:1%;
	overflow-y:auto;
}
div#file-data-container{
	float:left;
	width:60.5%; 
	height:100%;
	background-color:#eee;
}
#file-data-container .ui-state-highlight, 
#file-data-container .ui-state-default,
#file-data-container .ui-widget-content{
	padding:10px;
	margin:5px;
}
table#actions td{
	text-align:center;
	width:100px;
}
.data-container{
	background-color:#ddd;
	font-family:Courier;
	font-size: 12px;
	color:#000;
}
span.form-label{
	width:100px;
	position:absolute;
}
input{
	margin-left:100px;
}