<?php
/**
 * main configuration file
 *
 * @author CRP Henri Tudor - TAO Team - {@link http://www.tao.lu}
 * @license GPLv2  http://www.opensource.org/licenses/gpl-2.0.php
 *
 */

# actions directory
define("DIR_ACTIONS"		, dirname(__FILE__). "/../actions/");

# views directory
define("DIR_VIEWS"			, dirname(__FILE__) . '/../views/');

# plugin directory
define('DIR_PLUGINS'		, dirname(__FILE__).'/../plugins/');

# helpers directory
define("DIR_HELPERS"		, dirname(__FILE__) . "/../helpers/");

# default module name
define('DEFAULT_MODULE_NAME', 'Browser');

#default action name
define('DEFAULT_ACTION_NAME', 'index');
										

# theme directory
$GLOBALS['dir_theme']		= "templates/";


#BASE PATH: the root path in the file system (usually the document root)
define('BASE_PATH', ROOT_PATH . '/filemanager');

#BASE URL (usually the domain root)
define('BASE_URL', ROOT_URL.'/filemanager');

#BASE WWW the web resources path
define('BASE_WWW', BASE_URL . '/views/' );

#root folder for the files
define('BASE_DATA', BASE_PATH . '/views/data/' );
define('URL_DATA', BASE_URL . '/views/data/' );

# Max file size to upload
define('UPLOAD_MAX_SIZE', '3145728'); 

# Allowed media for upload
$GLOBALS['allowed_media'] = array(
	'application/ogg ',						//OGG
	'application/pdf',						//PDF
	'application/x-shockwave-flash',		//Flash
	'audio/mpeg',							//MP3 MPEG
	'audio/x-ms-wma',						//Windows Media Audio
	'audio/vnd.rn-realaudio',				//RealAudio
	'audio/x-wav',							//WAV
	'image/gif',							//GIF 
	'image/jpeg',							//JPEG
	'image/png',							//PNG
	'image/tiff',							//TIFF
	'image/svg+xml',						//SVG
	'image/bmp',							//BMP
	'image/vnd.microsoft.icon',				//ICO 
	'video/mpeg',							//MPEG-1
	'video/mp4',							//MP4
	'video/quicktime',						//QuickTime
	'video/x-ms-wmv',						//Windows Media Video
	'video/x-msvideo',						//AVI
	'video/x-flv'							//Flash Video 
);
?>